.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
inst/doc
..Rcheck/
*.tar.gz
tests/testthat/Rplots.pdf
CRAN-SUBMISSION
vignettes/.Rhistory
vignettes/*.html
vignettes/*_files/
*.png
!docs/**/*.png
Rplots.pdf
